/* All styles for your Card Components live here */
.card-container{
    width:100%;
    border:1px solid black;
}

.card-container img{
    width:100%;
}

.card-content-container-content{
    padding:20px;
}

.card-content-container-content a{
    text-decoration:none;
    color:lighgray;
}